<template>
  <v-container fluid>
    <apexchart
      type="bar"
      :height="chartOptions.xaxis.categories.length * 40"
      :options="chartOptions"
      :series="series"
    ></apexchart>
  </v-container>
</template>

<script>
// import MonthlySalesChart from "./components/MonthlySalesChart";
var categorieslist = [
  "ابراهیم",
  "ابوالفضل",
  "اتابک",
  "احسان",
  "احمد",
  "ابراهیم",
  "ابوالفضل",
  "اتابک",
  "احسان",
  "احمد",
];
var images = [];

export default {
  name: "app",
  data() {
    return {
      series: [
        {
          data: [100, 200, 300, 400, 500, 100, 200, 300, 400, 500],
        },
      ],
      chartOptions: {
        chart: {
          redrawOnParentResize: true,
          redrawOnWindowResize: true,
          type: "bar",
          fontFamily: "Vazir, Arial, sans-serif",
          height: categorieslist.length * 40,
          dropShadow: {
            enabled: false,
            enabledOnSeries: undefined,
            top: 0,
            left: 0,
            blur: 3,
            color: "#000",
            opacity: 0.35,
          },
        },
        annotations: {
          xaxis: [
            {
              x: 100,
              borderColor: "#0000ffbf",
              label: {
                borderColor: "#0000ffbf",
                orientation: "horizontal",
                offsetX: 0,
                offsetY: 0,
                style: {
                  color: "#fff",
                  background: "#0000ffbf",
                },
                text: "#",
              },
            },
            {
              x: 200,
              borderColor: "#d7d700d6",
              label: {
                orientation: "horizontal",
                offsetX: 0,
                offsetY: 0,
                borderColor: "#d7d700d6",
                style: {
                  color: "#fff",
                  background: "#d7d700d6",
                },
                text: "#",
              },
            },
            {
              x: 300,
              borderColor: "#008000cc",
              label: {
                orientation: "horizontal",
                offsetX: 0,
                offsetY: 0,
                borderColor: "#008000cc",
                style: {
                  color: "#fff",
                  background: "#008000cc",
                },
                text: "#",
              },
            },
            {
              x: 400,
              borderColor: "#ff0000c2",
              label: {
                orientation: "horizontal",
                offsetX: 0,
                offsetY: 0,
                borderColor: "#ff0000c2",
                style: {
                  color: "#fff",
                  background: "#ff0000c2",
                },
                text: "#",
              },
            },
            {
              x: 500,
              borderColor: "#00E396",
              label: {
                orientation: "horizontal",
                offsetX: 0,
                offsetY: 0,
                borderColor: "#00E396",
                style: {
                  color: "#fff",
                  background: "#00E396",
                },
                text: "#",
              },
            },
            {
              x: 0,
              borderColor: "#800080c4",
              label: {
                orientation: "horizontal",
                offsetX: 0,
                offsetY: 0,
                borderColor: "#800080c4",
                style: {
                  color: "#fff",
                  background: "#800080c4",
                },
                text: "#",
              },
            },
          ],
        },
        plotOptions: {
          bar: {
            horizontal: true,
            borderRadius: 10,
          },
        },
        
        dataLabels: {
          enabled: true,
          textAnchor: "start",
          formatter: function (val, opt) {
            let value =
              val === 100
                ? "مرحله اول"
                : val === 200
                ? "مرحله دوم"
                : val === 300
                ? "مرحله سوم"
                : val === 400
                ? "مرحله چهارم"
                : val === 500
                ? "مرحله پنجم"
                : "شروع";
            return opt.w.globals.labels[opt.dataPointIndex] + ":  " + value;
          },
          offsetX: 0,
        },
        xaxis: {
          type: "category",
          categories: categorieslist,
          position: "top",
          labels: {
            show: true,
            rotate: -15,
            rotateAlways: true,
            hideOverlappingLabels: true,
            style: {
              colors: [],
              fontSize: "12px",
              fontFamily: "Vazir, Arial, sans-serif",
              fontWeight: 400,
              cssClass: "apexcharts-xaxis-label",
            },
            offsetX: 0,
            offsetY: 0,
            formatter: function (value) {
              const step =
                value === 100
                  ? "مرحله اول"
                  : value === 200
                  ? "مرحله دوم"
                  : value === 300
                  ? "مرحله سوم"
                  : value === 400
                  ? "مرحله چهارم"
                  : value === 500
                  ? "مرحله پنجم"
                  : "شروع";
              return step;
              // The formatter function overrides format property
            },
          },
        },
        grid: {
          xaxis: {
            lines: {
              show: true,
            },
          },
          column: {
            colors: [
              "#ff000052",
              "#00800052",
              "#ffff0052",
              "#0000ff4f",
              "#8000803b",
            ],
          },
        },
        yaxis: {
          reversed: true,
          axisTicks: {
            show: true,
          },
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "dark",
            type: "horizontal",
            shadeIntensity: 0.5,
            gradientToColors: ["#4CB8C4", "#3CD3AD"], // optional, if not defined - uses the shades of same color in series
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 100],
            colorStops: [
              [
                {
                  offset: 0,
                  color: "#1FA2FF",
                  opacity: 1,
                },
                {
                  offset: 0.6,
                  color: "#12D8FA",
                  opacity: 50,
                },
                {
                  offset: 100,
                  color: "#A6FFCB",
                  opacity: 1,
                },
              ],
            ],
          },
        },
        colors: ["#12D8FA"],
        tooltip: {
          custom: function ({ series, seriesIndex, dataPointIndex, w }) {
            const srcimage = images[dataPointIndex];
            const val = series[seriesIndex][dataPointIndex];
            const step =
              val === 100
                ? "مرحله اول"
                : val === 200
                ? "مرحله دوم"
                : val === 300
                ? "مرحله سوم"
                : val === 400
                ? "مرحله چهارم"
                : val === 500
                ? "مرحله پنجم"
                : "شروع";
            return (
              '<div class="arrow_box">' +
              '<img src="./' +
              srcimage +
              '"  style="width:50px;height:50px;border-radius: 50%;">' +
              '<span  class="arrow_box_span">' +
              w.globals.labels[dataPointIndex] +
              "</span>" +
              '<span  class="arrow_box_span">' +
              step +
              "</span>" +
              "</div>"
            );
          },
        },
      },
    };
  },
  mounted() {
    images = [
      "1.jpg",
      "2.jpg",
      "3.jpg",
      "4.jpg",
      "5.jpg",
      "1.jpg",
      "2.jpg",
      "3.jpg",
      "4.jpg",
      "5.jpg",
    ];
  },
};
</script>
<style>
.arrow_box {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(17, 113, 111, 1) 100%
  );
  border: 2px solid #000000;
  padding: 0.5rem;
}
.arrow_box img {
  margin-bottom: 0.5rem;
}
.arrow_box:after,
.arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(85, 85, 85, 0);
  border-right-color: #555;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #000000;
  border-width: 13px;
  margin-top: -13px;
}
.arrow_box_span {
  color: white;
  font-size: 10px;
}
.apexcharts-xaxis-unic {
  padding: 2rem;
  width: 100%;
}
</style>
