<template>
    <div>
      <v-app-bar>


        <v-spacer></v-spacer>
        <div class="text-center">
          <h2 class="teal--text text--accent-4 slide-in-left">نمودار پیشرفت</h2>
          <h3 class="slide-in-right">بررسی عملکرد مخاطبان وبینار</h3>
        </div>
        <v-spacer></v-spacer>

        <template v-if="$vuetify.breakpoint.smAndUp">
          <v-btn icon>
            <v-icon>mdi-export-variant</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-delete-circle</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-plus-circle</v-icon>
          </v-btn>
        </template>
        
      </v-app-bar>
     
    </div>
  
</template>

<script>
export default {
 
  data: () => ({
    drawer:null,
    items: [
      { title: "خانه", icon: "mdi-home" },
      { title: "درباره ما", icon: "mdi-scatter-plot" },
    ],
  }),
  methods:{

  }
};
</script>

<style>
</style>