<template>
  <v-app id="inspire">
    <Header></Header>
    <Chart></Chart>
    <Footer></Footer>
 
  </v-app>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
import Chart from "./components/Chart";
export default {
  name: "App",

  components: {
    Header,
    Footer,
    Chart,
  },

  data: () => ({
    drawer: null,
  }),
};
</script>
